/* Button
---------------------------------------------------------------------------------- */

/**
  * @name Default
  *
  * @state :hover - Highlights when hovering.
  *
  * @markup
  *   <a href="#777" class="btn">Button</a>
  */


.btn {
    display: inline-block;
    background-color: cyan;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-family: Arial, sans;
    }

.pseudo-class-hover,
.btn:hover {
    background-color: red;
    }

/**
  * @name Big
  *
  * @markup
  *   <a href="#777" class="btn __big">Button</a>
  */

.btn.__big {
    font-size: 1.5em;
    padding: 15px 30px;
    }

/**
  * @name Button Group
  *
  * @markup
  *   <div class="btn_group">
            <a href="#777" class="btn">Button1</a>
            <a href="#777" class="btn">Button2</a>
            <a href="#777" class="btn">Button3</a>
        </div>
  */

.btn_group .btn {
    float: left;
    border-radius: 0;
    }

.btn_group .btn:first-child {
    border-radius: 5px 0 0 5px;
    border-right: solid 1px #000;
    }

.btn_group .btn:last-child {
    border-radius: 0 5px 5px 0;
    border-left: solid 1px #000;
    }

/* /Button
---------------------------------------------------------------------------------- */